---
- name: Manage Page Space on AIX Server
  hosts: "{{ run }}"
  gather_facts: no
  become: yes
  vars:
    desired_usage_percentage: 50

  tasks:
    - name: Get current active page space name
      shell: lsps -a | grep -v Total | awk '{print $1}' | tail -1
      register: page_space_name
      failed_when: page_space_name.stdout == ""

    - name: Calculate the current size of the active page space (in MB)
      shell: lsps -s | tail -n 1 | awk '{print $1}' | sed 's/MB//g'
      register: current_page_space_in_mb
      failed_when: current_page_space_in_mb.rc != 0

    - name: Calculate the current PP size
      shell: lsvg rootvg | grep "PP SIZE:" | awk '{ print $(NF -1) }'
      register: pp_size
      failed_when: pp_size.rc != 0

    - name: Convert current page space size to number of logical partitions
      set_fact:
        current_lp_size: "{{ (current_page_space_in_mb.stdout | int) / (pp_size.stdout | int) }}"
      failed_when: current_lp_size is not defined

    - name: Calculate 20% of number of allocated logical partitions.
      set_fact:
        new_lp_size: "{{ ((current_lp_size | float * 0.20) | round(0, 'ceil') | int + current_lp_size | int) }}"

    - name: Print
      ansible.builtin.debug:
        msg: current_lp_size = {{ current_lp_size }}, new_lp_size = {{ new_lp_size }}
