---
- name: Manage Page Space on AIX Server
  hosts: "{{ run }}"
  gather_facts: no
  become: yes
  vars:
    desired_usage_percentage: 50

  tasks:
    - name: Get current active page space name
      shell: lsps -a | grep -v Total | awk '{print $1}' | tail -1
      register: page_space_name
      failed_when: page_space_name.stdout == ""

    - name: Calculate the current size of the active page space (in MB)
      shell: lsps -s | tail -n 1 | awk '{print $1}' | sed 's/MB//g'
      register: current_page_space_in_mb
      failed_when: current_page_space_in_mb.rc != 0

    - name: Print
      ansible.builtin.debug:
        msg: page_space_name = {{ page_space_name.stdout }}. Current Page Space = {{ current_page_space.stdout }}
