---
- name: Manage Page Space on AIX Server
  hosts: "{{ run }}"
  gather_facts: no
  become: yes
  vars:
    desired_usage_percentage: 50

  tasks:
    - name: Get current active page space name
      shell: lsps -a | grep -v Total | awk '{print $1}'
      register: page_space_name
      failed_when: page_space_name.stdout == ""

    - name: Calculate the current size of the active page space
      shell: lsps -s | tail -n 1 | awk '{print $1}'
      register: current_page_space
      failed_when: current_page_space.rc != 0

    - name: Convert current page space size to number of logical partitions (assuming default pp size of 128MB)
      set_fact:
        current_lp_size: "{{ (current_page_space.stdout | replace('MB', '') | int) / 128 }}"
      failed_when: current_lp_size is not defined

    - name: Calculate the desired page space size to get under 90% usage
      shell: |
        current_size=$(lsps -a | grep "{{ page_space_name.stdout }}" | awk '{print $4}')
        current_percent=$(lsps -a | grep "{{ page_space_name.stdout }}" | awk '{print $5}' | tr -d '%')
        echo $((current_size * 100 / (100 - desired_usage_percentage)))
      register: desired_page_space_size
      failed_when: desired_page_space_size.rc != 0

    - name: Calculate the number of additional logical partitions needed
      set_fact:
        additional_lps_needed: "{{ ((desired_page_space_size.stdout | int) - (current_page_space.stdout | replace('MB', '') | int)) / 128 }}"
      failed_when: additional_lps_needed is not defined or additional_lps_needed <= 0

    - name: Check if there is enough space in rootvg for additional logical partitions
      shell: lsvg rootvg | grep 'FREE PPs:' | awk '{print $6}'
      register: free_pps_in_rootvg
      failed_when: free_pps_in_rootvg.rc != 0

    - name: Verify there is enough free physical partitions in rootvg
      assert:
        that:
          - free_pps_in_rootvg.stdout | int >= additional_lps_needed
        fail_msg: "Not enough free physical partitions in srootvg to expand the page space"
        success_msg: "Enough free physical partitions in rootvg to expand the page space"

    - name: Change the page space to make usage go under 90%
      shell: chps -s {{ additional_lps_needed }} "{{ page_space_name.stdout }}"
      when: free_pps_in_rootvg.stdout | int >= additional_lps_needed
      register: chps_output
      failed_when: chps_output.rc != 0
